A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

In [14]:
import pandas as pd
from scipy import stats
from scipy.stats import norm

In [15]:
data = pd.read_csv("Cutlets.csv")

In [17]:
stats.shapiro(data["Unit A"])

ShapiroResult(statistic=0.9649458527565002, pvalue=0.3199819028377533)

In [18]:
stats.shapiro(data["Unit B"])

ShapiroResult(statistic=0.9727300405502319, pvalue=0.5224985480308533)

In [8]:
data.describe()

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [20]:
stats.ttest_rel(data["Unit A"], data["Unit B"])

Ttest_relResult(statistic=0.7536787225614314, pvalue=0.4562300768038412)

Thus H0 is accepted.
Mean of both Y1 and Y2 are equal